<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Football Statistics{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/app.css') }}">{% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="full-page">
                <div class="container-fluid home-blue">
                    <div class="text-center">
                        <img class="text-center" src="{{ asset('/build/logo.png') }}">
                        <h3 class="text-white text-center mt-2">Which championship do you want to bet on ?</h3>
                    </div>

                </div>
                <div class="container-fluid home-white">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="row justify-content-md-center">
                        <div class="col-md-3">
                            {{ form_widget(form.competition) }}
                        </div>
                        <div class="col-md-1">
                            {{ form_widget(form.submit) }}
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <h4>Under 2,5 goals</h4>
                            <hr>
                            {% if underNbGoalsMatches | length > 0 %}
                                <div class="list-group">
                                    {% for match in underNbGoalsMatches %}
                                        <a href="#" class="list-group-item list-group-item-action ">
                                            {{ match.homeTeam.name }} - {{ match.awayTeam.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p>No matchs to bet on</p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <h4>Over 2,5 goals</h4>
                            <hr>
                            {% if overNbGoalsMatches | length > 0 %}
                                <div class="list-group">
                                    {% for match in overNbGoalsMatches %}
                                        <a href="#" class="list-group-item list-group-item-action ">
                                            {{ match.homeTeam.name }} - {{ match.awayTeam.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p>No matchs to bet on</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
