{% trans_default_domain 'translations' %}
{% for match in championship.matches %}
    <div class="col-md-4 card mt-1 mb-1">
        <p class="small text-center font-weight-bold" style="margin-bottom: unset">{{ match.homeTeam.name }} - {{ match.awayTeam.name }}</p>
        <p class="mt-0 small text-center">{{ match.date | date('H:i') }}</p>

        {% for bet in match.bets %}
            <div class="row" {% if bet.goodResult is null and bet.percentage > 70 and bet.form %}style="background-color: #00a9ff; color: white;" {% endif %}>
                <div class="col-md-5 col-sm-5 col-5 mt-2">
                    {% if bet.type == '- 2.5' or bet.type == '+ 2.5' or bet.type == '- 3.5' or bet.type == '+ 3.5' %}
                        {% set value = bet.type %}
                    {% elseif bet.type == 'winner' and match.homeTeam == bet.winner and bet.winOrDraw == false %}
                        {% set value = '1' %}
                    {% elseif bet.type == 'winner' and match.homeTeam == bet.winner and bet.winOrDraw %}
                        {% set value = '1N' %}
                    {% elseif bet.type == 'winner' and match.awayTeam == bet.winner and bet.winOrDraw == false %}
                        {% set value = '2' %}
                    {% elseif bet.type == 'winner' and match.awayTeam == bet.winner and bet.winOrDraw %}
                        {% set value = 'N2' %}
                    {% elseif bet.type == 'winner' and bet.winner is null %}
                        {% set value = 'N' %}
                    {% elseif bet.type == 'both_teams_score' and bet.isBothTeamsScore %}
                        {% set value = 'translations.bets.yes' | trans %}
                    {% elseif bet.type == 'both_teams_score' and bet.isBothTeamsScore == false %}
                        {% set value = 'translations.bets.no' | trans %}
                    {% endif %}

                    {% if bet.type == 'both_teams_score' %}
                                <p class="mt-1 font-weight-bold">{{ 'translations.bets.bts' | trans }}&nbsp;&nbsp;
                                    <span class="btn btn-sm btn-{% if bet.goodResult is null %}light{% elseif bet.goodResult %}green{% elseif bet.goodResult == false %}danger{% endif %}" style="{% if bet.goodResult is null %}border: 1px grey solid;{% endif %} font-size: smaller">{{ value }}</span>
                                </p>
                    {% else %}
                        <span class="btn btn-sm btn-{% if bet.goodResult is null %}light{% elseif bet.goodResult %}green{% elseif bet.goodResult == false %}danger{% endif %}" style="{% if bet.goodResult is null %}border: 1px grey solid;{% endif %} font-size: smaller">{{ value }}</span>
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-4 col-4 mt-3">
                    <p class="font-weight-bold" style="font-size: smaller; margin-left: unset">
                        {% if bet.odd is not null %}{{ bet.odd }}{% else %}N/D{% endif %}&nbsp;
                        {% include '/partial/_moment_form.html.twig' with { momentForm: bet.form } %}
                    </p>
                </div>
                <div class="col-md-3 col-sm-3 col-3 mt-3">
                    <h4 class="font-weight-bold" style="font-size: smaller; margin-left: unset">
                        <span class="fa fa-info-circle"></span> {{ bet.percentage // 10 }}
                    </h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
