{% trans_default_domain 'translations' %}

{% for match in matches %}
    <div class="col-md-4 card">
        <div>
            <p class="small text-center font-weight-bold" style="margin-bottom: unset">{{ match.homeTeam.name }} - {{ match.awayTeam.name }}</p>
            <p class="mt-0 small text-center">{{ match.date | date('H:i') }}</p>

            <div class="row">
                <div class="col-6">
                    <form class="form-inline">
                        {% if match.averageExpectedNbGoals > 2.5 %}
                            {% set color = 'primary' %}
                        {% else %}
                            {% set color = 'light' %}
                        {% endif %}
                        <span class="btn btn-sm btn-{% if match.averageExpectedNbGoals <= 2.5 %}primary{% else %}light{% endif %}" style="border: 1px grey solid; font-size: smaller">- 2.5</span>
                        <span class="btn btn-sm btn-{% if match.averageExpectedNbGoals > 2.5 %}primary{% else %}light{% endif %}" style="border: 1px grey solid; font-size: smaller">+ 2.5</span>
                        {% if match.goodResult is not null %}
                            &nbsp;<span class="{% if match.goodResult %}fa fa-check{% else %}fa fa-times{% endif %}" style="color: {% if match.goodResult %}green{% else %}red{% endif %}"></span>
                        {% endif %}
                    </form>
                    <div>
                        <p class="mt-1 font-weight-bold" style="font-size: smaller; margin-left: unset">
                            {{ 'translations.bets.odd'|trans }}: {% if match.odd is not null %}{{ match.odd }}{% else %}N/D{% endif %}&nbsp;
                            {% include '/partial/_moment_form.html.twig' with { momentForm: match.momentForm } %}
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <form class="form-inline justify-content-end">
                        <span class="btn btn-sm btn-{% if match.homeTeam.id is same as (match.previsionalWinner.id) %}primary{% else %}light{% endif %}" style="border: 1px grey solid; font-size: smaller">1</span>
                        <span class="btn btn-sm btn-{% if match.previsionalWinner is null %}primary{% else %}light{% endif %}" style="border: 1px grey solid; font-size: smaller">N</span>
                        <span class="btn btn-sm btn-{% if match.awayTeam.id is same as (match.previsionalWinner.id) %}primary{% else %}light{% endif %}" style="border: 1px grey solid; font-size: smaller">2</span>
                        {% include '/partial/_moment_form.html.twig' with { momentForm: match.winnerMomentForm } %}
                        {% if match.winnerResult is not null %}
                            &nbsp;<span class="{% if match.winnerResult %}fa fa-check{% else %}fa fa-times{% endif %}" style="color: {% if match.winnerResult %}green{% else %}red{% endif %}"></span>
                        {% endif %}
                    </form>
                    <p class="text-right mt-1 font-weight-bold" style="font-size: smaller">{{ 'translations.bets.odd'|trans }}: {% if match.winnerOdd is not null %}{{ match.winnerOdd }}{% else %}N/D{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}